body {
background-image: url(background.jpg);
background-repeat: no-repeat;
/*background-position: 99%, 10%;*/
background-position: center, center;
background-size: cover;
/*background-attachment: fixed;*/
}

p {
    color:rgb(26, 26, 26)
}