p {
    font-size: 30px;
    color: green;
    text-align: justify;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    /* comentar isso */
    text-transform:uppercase;
    text-indent: 20px;
}

a {
    text-decoration: none;
    letter-spacing:20px;
}

h1 {
    text-shadow: 2px 2px 20px red;
}