@import 'variables';
@import 'base';
@import 'mixins';



.container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

    .box {
        width: 30%;
        padding: 20px;
        background-color: white;
        color: black;
        border-radius: 8px;

        &.active {
            background-color: $color-secondary;
        }

        h2 {
            font-size: 22px;
            margin: 10px 20px 30px 20px;
        }
        p {
            font-size: 14px;
            margin-bottom: 15px;
            font: $font-secondary;

            &.hidden {
                display: none;
            }
        }

        @include reset-list;

        a {
            background-color: black;
            margin-top: 20px;
            border-radius: 5px;
            padding: 5px;
            text-decoration: none;
            color: white;

            &:hover {
                color: blueviolet;

                & + p.hidden {
                    display: block;
                    margin-top: 20px;
                }
            }
        }
    }
}